.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1190px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__dDhE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dDhE {
    height: 100vh;
    max-height: 100vh;
  }
}
.freeBox__fjzWh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  width: 150%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#ebebeb, #ebebeb),
    url("/plasmic/auth_flow/images/unsplashX2Tmfd1SgAPng2.png") top 50% left 50% / cover repeat;
  padding: 8px;
}
@media (max-width: 1190px) {
  .freeBox__fjzWh {
    width: 130%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fjzWh {
    display: none;
  }
}
.img {
  object-fit: fill;
  height: 100%;
  min-height: 0;
}
.img > picture > img {
  object-fit: fill;
}
@media (max-width: 1190px) {
  .img {
    max-width: 861px;
    width: 100%;
    object-fit: scale-down;
    object-position: center center;
    mix-blend-mode: normal;
    min-width: 0;
  }
}
@media (max-width: 1190px) {
  .img > picture > img {
    object-fit: scale-down;
    object-position: center center;
  }
}
.freeBox___9QcbV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9QcbV {
    height: auto;
  }
}
.freeBox__irYq1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__irYq1 {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__oh3V8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oh3V8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__oh3V8 > :global(.__wab_flex-container) > *,
.freeBox__oh3V8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oh3V8 > :global(.__wab_flex-container) > picture > img,
.freeBox__oh3V8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.h1___1Rl4O {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 48px;
  font-weight: 400;
  min-width: 0;
}
.text__s2Gy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  min-width: 0;
}
.freeBox__eIbDw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 60px;
  min-width: 0;
  padding: 8px;
}
.freeBox__eIbDw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__eIbDw > :global(.__wab_flex-container) > *,
.freeBox__eIbDw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eIbDw > :global(.__wab_flex-container) > picture > img,
.freeBox__eIbDw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.freeBox__itup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__itup > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__itup > :global(.__wab_flex-container) > *,
.freeBox__itup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__itup > :global(.__wab_flex-container) > picture > img,
.freeBox__itup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h1__rqwrc {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  min-width: 0;
}
.freeBox__uMcz2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__m9AzH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d90000;
  font-size: 14px;
  margin-top: 10px;
  min-width: 0;
  display: none;
}
.freeBox__hSrn7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 8px;
}
.freeBox__hSrn7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__hSrn7 > :global(.__wab_flex-container) > *,
.freeBox__hSrn7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hSrn7 > :global(.__wab_flex-container) > picture > img,
.freeBox__hSrn7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.freeBox__n0YNw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__n0YNw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__n0YNw > :global(.__wab_flex-container) > *,
.freeBox__n0YNw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n0YNw > :global(.__wab_flex-container) > picture > img,
.freeBox__n0YNw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.freeBox__a7Adk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 60px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.svg___4Uzq5 {
  position: relative;
  height: 1em;
}
.freeBox__rn583 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__uvjAz {
  white-space: pre;
  color: var(--token-O-63NKRcNhLJ);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.svg__gDfD {
  position: relative;
  height: 1em;
}
.text__wznq0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d90000;
  font-size: 14px;
  margin-top: 10px;
  min-width: 0;
  display: none;
}
.freeBox___8GS1Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.freeBox___8GS1Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox___8GS1Q > :global(.__wab_flex-container) > *,
.freeBox___8GS1Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8GS1Q > :global(.__wab_flex-container) > picture > img,
.freeBox___8GS1Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.freeBox__jl2ZX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jl2ZX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__jl2ZX > :global(.__wab_flex-container) > *,
.freeBox__jl2ZX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jl2ZX > :global(.__wab_flex-container) > picture > img,
.freeBox__jl2ZX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text__mkbMp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link {
  color: var(--token-hHvU9p3XlY1b);
}
