.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-IFZd1uJ-dli9);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-K2npMckox3IO);
  font-family: var(--token--xuN_A8PSTtN);
  font-size: var(--token-QCA20j1Hb28d);
  line-height: var(--token-_d_i3KzfNTjy);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-EOp-kAgx609a);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Ga8kHMRD5PfZ);
  outline-offset: 1px;
  outline-color: var(--token-IFZd1uJ-dli9);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-hHvU9p3XlY1b);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-Z5QjQXQBlncY);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-6v2DGwIVldk2);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-52D4xIo3KD8u);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-jFbPypceJdp5);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-UZWt40th1PtE);
  font-size: var(--token-AyMxbcNtG1X_);
  column-gap: var(--token-Ga8kHMRD5PfZ);
  row-gap: 0px;
  border-radius: var(--token-LDNpZSGWoUry);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-AyMxbcNtG1X_);
  line-height: var(--token-UZWt40th1PtE);
  column-gap: var(--token-LDNpZSGWoUry);
  row-gap: 0px;
  border-radius: var(--token-LDNpZSGWoUry);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-o66LMMvMYslM);
  line-height: var(--token-XcGOqIBn6qEj);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-o66LMMvMYslM);
  line-height: var(--token-XcGOqIBn6qEj);
}
.rooticonEnd:global(.__wab_instance) {
  background: var(--token-mAyPXxyoibdf);
  min-width: auto;
  width: 100%;
  justify-self: flex-start;
  font-weight: 700;
  color: var(--token-EQu4JTS-R9WV);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-7fKx39FoaKDm);
  border-radius: var(--token-EOp-kAgx609a);
}
.softBackgroundcolor_neutral {
  background: var(--token-YUfc_Mb4QjHo);
}
.softBackgroundcolor_muted {
  background: var(--token-gOwgl1p38pb2);
}
.softBackgroundcolor_success {
  background: var(--token-Lwlz4eYaJ9vS);
}
.softBackgroundcolor_warning {
  background: var(--token-p49r4EemTLz_);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-rd3hL2Rky4MJ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-EOp-kAgx609a);
  border: 0px solid var(--token-UZym5m9J6jet);
}
.bordercolor_neutral {
  border-color: var(--token-gSfdX81q0_9R);
}
.bordercolor_muted {
  border-color: var(--token-8IdoSRYou10i);
}
.bordercolor_success {
  border-color: var(--token-1oQdDtEJgeym);
}
.bordercolor_warning {
  border-color: var(--token-BCHmeYse-415);
}
.bordercolor_errorDestructive {
  border-color: var(--token-aqrE4EOuomSU);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-EOp-kAgx609a);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-MoNSqmXSk80v);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-m5bTDdLdv6yd);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-ffmJQGD0kAhN);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__o1W56 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-EOp-kAgx609a) var(--token-18zSmVfTJhEx);
}
.freeBox__o1W56 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-EOp-kAgx609a));
  width: calc(100% + var(--token-EOp-kAgx609a));
}
.freeBox__o1W56 > :global(.__wab_flex-container) > *,
.freeBox__o1W56 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o1W56 > :global(.__wab_flex-container) > picture > img,
.freeBox__o1W56
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-EOp-kAgx609a);
}
.freeBoxsize_extraSmall__o1W56HhCaf {
  padding: var(--token-LDNpZSGWoUry) var(--token-EOp-kAgx609a);
}
.freeBoxsize_small__o1W56GsSqH {
  padding: var(--token-EOp-kAgx609a) var(--token-K2npMckox3IO);
}
.freeBoxsize_large__o1W56Tqbjq {
  padding-top: var(--token-LDNpZSGWoUry);
  padding-bottom: var(--token-LDNpZSGWoUry);
}
.freeBoxsize_extraLarge__o1W56WqzT8 {
  padding-left: var(--token-e94bmq23eN-e);
  padding-right: var(--token-e94bmq23eN-e);
}
.freeBoxiconEnd__o1W56ZkLSg > :global(.__wab_flex-container) {
  justify-content: space-between;
}
.freeBoxroundedFull__o1W56ALTg {
  padding-right: var(--token-e94bmq23eN-e);
  padding-left: var(--token-e94bmq23eN-e);
}
.freeBox__crNgV {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__crNgVfoTio {
  display: flex;
}
.slotTargetStart {
  color: var(--token-bQaS6xrfM7PK);
}
.slotTargetStartcolor_neutral {
  color: var(--token-EQu4JTS-R9WV);
}
.slotTargetStartcolor_muted {
  color: var(--token-JPerIBD5TajD);
}
.slotTargetStartcolor_success {
  color: var(--token-pIpgdHEh1QsQ);
}
.slotTargetStartcolor_warning {
  color: var(--token-Fk10QIsePmum);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-IV6XOSTUEP1t);
}
.slotTargetStarttype_soft {
  color: var(--token-hHvU9p3XlY1b);
}
.slotTargetStarttype_bordered {
  color: var(--token-hHvU9p3XlY1b);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-AyMxbcNtG1X_);
}
.slotTargetStartsize_small {
  font-size: var(--token-AyMxbcNtG1X_);
}
.slotTargetStartsize_large {
  font-size: var(--token-o66LMMvMYslM);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-o66LMMvMYslM);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-mAyPXxyoibdf);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-mAyPXxyoibdf);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-h0i8ZT13HfEU);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-h0i8ZT13HfEU);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-YROTRI34nAkr);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-YROTRI34nAkr);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-5sBcKJtnQir9);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-5sBcKJtnQir9);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-ACV2ErP6aAFf);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-ACV2ErP6aAFf);
}
.svg__lyB04 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-bQaS6xrfM7PK);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-EQu4JTS-R9WV);
}
.slotTargetLabelcolor_muted {
  color: var(--token-JPerIBD5TajD);
}
.slotTargetLabelcolor_success {
  color: var(--token-pIpgdHEh1QsQ);
}
.slotTargetLabelcolor_warning {
  color: var(--token-Fk10QIsePmum);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-IV6XOSTUEP1t);
}
.slotTargetLabeltype_soft {
  color: var(--token-hHvU9p3XlY1b);
}
.slotTargetLabeltype_bordered {
  color: var(--token-hHvU9p3XlY1b);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-mAyPXxyoibdf);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-h0i8ZT13HfEU);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-mAyPXxyoibdf);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-YROTRI34nAkr);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-h0i8ZT13HfEU);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-5sBcKJtnQir9);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-YROTRI34nAkr);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-ACV2ErP6aAFf);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-5sBcKJtnQir9);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-ACV2ErP6aAFf);
}
.text__epu8J {
  white-space: pre;
}
.freeBox__jMdrt {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__jMdrtZkLSg {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-bQaS6xrfM7PK);
}
.slotTargetEndcolor_neutral {
  color: var(--token-EQu4JTS-R9WV);
}
.slotTargetEndcolor_muted {
  color: var(--token-JPerIBD5TajD);
}
.slotTargetEndcolor_success {
  color: var(--token-pIpgdHEh1QsQ);
}
.slotTargetEndcolor_warning {
  color: var(--token-Fk10QIsePmum);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-IV6XOSTUEP1t);
}
.slotTargetEndtype_soft {
  color: var(--token-hHvU9p3XlY1b);
}
.slotTargetEndtype_bordered {
  color: var(--token-hHvU9p3XlY1b);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-AyMxbcNtG1X_);
}
.slotTargetEndsize_small {
  font-size: var(--token-AyMxbcNtG1X_);
}
.slotTargetEndsize_large {
  font-size: var(--token-o66LMMvMYslM);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-o66LMMvMYslM);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-mAyPXxyoibdf);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-mAyPXxyoibdf);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-h0i8ZT13HfEU);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-h0i8ZT13HfEU);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-YROTRI34nAkr);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-YROTRI34nAkr);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-5sBcKJtnQir9);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-5sBcKJtnQir9);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-ACV2ErP6aAFf);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-ACV2ErP6aAFf);
}
.svg__fZgH5 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
